# Elementos b치sicos de Python

- Lenguaje de alto nivel: 
    en concreto significa que est치 optimizado para ser le칤do por personas, m치s que por m치quinas.
    
- Lenguaje interpretado: 
    el c칩digo Python no es compilado directamente para ser ejecutado por una m치quina (lenguaje de m치quina). El interpretador de python permite por ejemplo ejecutar c칩digo Python din치micamente (a medida vayamos agreg치ndolo), l칤nea por l칤nea, al contrario de lenguajes como Java o C++, d칩nde debemos compilar el programa para revisar el resultado. Esto permite una mayor flexibilidad en la construcci칩n del c칩digo, apoyando la labor investigativa y su objeto, que en nuestro caso son los datos. (Es posible utilizar Python como lenguaje de scripting, sin embargo, nuestra misi칩n/contexto/objetivo es el an치lisis y su uso interactivo).
    
- Lenguaje de tipos din치micos: 
    similar a lenguajes como Javascript, no es necesario/requisito que especifiquemos de antemano el tipo de dato que debe tener una variable,  o que por ejemplo una variable de tipo num칠rica pase luego a ser de tipo string. Debido a que no hay una etapa/paso de compilaci칩n, no existe un compilador que nos ayude a manejar los tipo de datos, debido a ello generalmente debemos verificar el correcto funcionamiento del c칩digo una vez ejecutado.

#### Ejemplos

* Tener presente que el c칩digo python en este y otros notebooks es ejecutado en modo interactivo, lo que significa que  el c칩digo es enviado desde el navegador a una m치quina en la nube, la que ejecuta el c칩digo y env칤a de vuelta el/los resultado/s

In [4]:
# Para ejecutar el c칩digo en el notebook utiliza ctrl  shift + enter o haz click en Run (bot칩n play)

# Asigna valores sin necesidad de especificar su tipo y realiza operaciones con ellos
# No es necesario el uso de palabras reservadas como var, let, entre otras.
# No es requisito el uso de punto y coma (;) para el final de l칤nea. Python trabaja con espacios e indentaci칩n 
# para "entender" el c칩digo. (considerando el uso de "end") 
x = 2 
y = 1 

# realiza operaciones con variables anteriormente creadas y asignadas, generando un output (salida/resultado) 
x + y

3

El interpretador de python es stateful (puede recordar estados pasados), lo que permite utilizar variables entre diferentes celdas del notebook. Recordar que si modificamos parte del c칩digo, debemos volver a ejecutarlo para que esos cambios sean reflejados. Tambi칠n es posible ejecutar todas las celdas en una sola acci칩n, lo que nos ahorra tiempo si queremos realizar varias modificaciones.

## Funciones

Consideraciones:
* Con las funciones de Python no es necesario especificar el tipo de dato que retornamos e incluso no se requiere el uso de la palabra reservada "return". En tal caso, si no hay valores que retornar, python por defecto nos enviar치 "None", lo que en palabras sencillas representa la ausencia de valor (similar a null en Java).  
* Python permite que los par치metros de una funci칩n posean valores por defecto. Tener presente que para utilizar esta caracter칤stica, tales par치metros deben ser declarados al final del conjunto de par치metros de la funci칩n.
* Con Python es posible asignar funciones a una variable (programaci칩n funcional b치sica)
* print() intentar치 convertir sus argumentos a string e imprimirlos en pantalla. Si bien su uso no es frecuente en el modo interactivo , es 칰til cuando queremos imprimir m칰ltiples l칤neas desde una sola celda.

In [5]:
def sumar_numeros(x,y):
    return x + y

In [6]:
sumar_numeros(1,3)

4

In [7]:
a = sumar_numeros

In [8]:
a(3,2)

5

## Tipos y Secuencias

* Python posee una funci칩n llamada type(), la que permite saber el tipo de dato al cual hace referencia el argumento que le pasamos.
* Los tipos poseen propiedades asociadas, las cuales pueden ser datos o funciones

In [9]:
type('Este es un string')

str

In [10]:
type(None)

NoneType

In [11]:
type(1234)

int

In [12]:
type(3.14)

float

In [13]:
type(sumar_numeros)

function

## Colecciones

* Tuplas: es una secuencia inmutable  de variables. Esto significa que una tupla almacena items en orden, los cuales no pueden modificarse una vez creada.

* Listas: similar a las tuplas una lista almacena items, pero pudiendo modificar su tama침o, n칰mero de items y valores de los items.
 
* Diccionarios: tal como las tuplas y listas, los diccionarios almacenan una colecci칩n de items/elementos. Sin embargo, la diferencia radica en que a cada item es posible asignarle un nombre/tag y 칠stos no poseen un orden espec칤fico. Esto significa, que si queremos insertar un nuevo elemento al diccionario, debemos especificar su "nombre" o m치s com칰nmente llamada "llave". As칤, cada elemento del diccionario se compone de una llave y un valor (esta estructura es equivalente a lo que en otros lenguajes llaman map).

In [14]:
ejemplo_tupla = ('Pedro', 19345987, 'Ang칠lica', 20987345, 'M칩nica', 14098456)
type(ejemplo_tupla)

tuple

In [15]:
ejemplo_lista = ['Pedro','Ang칠lica']
type(ejemplo_lista)

list

In [16]:
ejemplo_diccionario = { 'Pedro': 19345987, 'Ang칠lica': 20987345, 'M칩nica': 14098456}
print(ejemplo_diccionario['Pedro'])

# tambi칠n es posible realizar operaciones en diccionarios
ejemplo_diccionario['Ang칠lica'] = None
print(ejemplo_diccionario['Ang칠lica'])

# recorre un diccionario
for item in ejemplo_diccionario:
    print(ejemplo_diccionario[item])

# obtiene s칩lo los valores del diccionario
for item in ejemplo_diccionario.values():
    print(item)
    
# obtiene "llave/nombre" y valores
for nombre, rut in ejemplo_diccionario.items():
    print(nombre)
    print(rut)

19345987
None
19345987
None
14098456
19345987
None
14098456
Pedro
19345987
Ang칠lica
None
M칩nica
14098456

In [17]:
# Con los diccionarios de Python es posible utilizar una t칠cnica llamada "unpacking" (desempacar).
# 칠sta, permite desempacar un diccionario en distintas variables
diccionario = {'M칩nica', 14098456, 'monik@gmail.com'} 
nombre, rut, email = diccionario

print(nombre)
print(rut)
print(email)

14098456
monik@gmail.com
M칩nica

Es posible realizar distintas operaciones en una lista

In [18]:
# agrega un nuevo item a la lista
ejemplo_lista.append('M칩nica')
print(ejemplo_lista)

['Pedro', 'Ang칠lica', 'M칩nica']

In [19]:
# concatena 2 listas
[1,2] + [3,4]

[1, 2, 3, 4]

In [20]:
# repite valores de lista la cantidad de veces especificada
[1,2] * 4

[1, 2, 1, 2, 1, 2, 1, 2]

In [21]:
# Permite saber si un item se encuentra dentro de una lista
2 in [1,2,3,4]

True

In [22]:
# Para Python un string es una cadena de caracteres, lo que permite que las operaciones que hacemos regularmente 
# en una lista, tambi칠n podamos utilizarlas para strings.

texto = 'Este es un texto de ejemplo'

# Cuando queremos obtener una "tajada" de un string o lista, especificamos la posici칩n inicial, seguido 
# de dos puntos y finalmente la posici칩n final. Tener presente que la posici칩n final es excluyente y 
# los espacios en blanco son contabilizados.

print(texto[0])
print(texto[0:4])
print(texto[3:10])

# El index tambi칠n puede ser negativo, lo que significa que el recorrido se invierte de atr치s hacia delante
print(texto[-1])
print(texto[-7: -2])

# Podemos omitir argumentos, los cuales tendr치n su valor por defecto (0)
print(texto[:4])
print(texto[4:])

# Operaciones en strings
nuevo_texto = texto + '. Segunda parte del texto de ejemplo'
print(nuevo_texto)

print(nuevo_texto*2)
print('ejemplo' in nuevo_texto)

# funci칩n split(): "rompe"만l string en subtrings basado en un patr칩n espec칤fico
# obtiene los caracteres desde la posici칩n 0, hasta que encuentre el patr칩n especificado
# que en este caso es un espacio en blanco (lo que equivale a obtener la primera palabra del texto)
print(nuevo_texto.split(' ')[0]) 

# lo mismo para obtener la 칰ltima palabra
print(nuevo_texto.split(' ')[-1])

E
Este
e es un
o
ejemp
Este
 es un texto de ejemplo
Este es un texto de ejemplo. Segunda parte del texto de ejemplo
Este es un texto de ejemplo. Segunda parte del texto de ejemploEste es un texto de ejemplo. Segunda parte del texto de ejemplo
True
Este
ejemplo

Ambas colecciones (tuplas, listas) son iterables, lo que permite recorrer los elementos/items de cada una.

In [23]:
for item in ejemplo_lista:
    print(item)

Pedro
Ang칠lica
M칩nica

Tambi칠n es posible acceder a items espec칤ficos a trav칠s del index de cada item, el cual comienza en la posici칩n 0. La funci칩n de Python len() permite obtener el tama침o de una lista.

In [24]:
posicion = 0

while posicion != len(ejemplo_lista):
    print(ejemplo_lista[posicion])
    posicion += 1 # equivale a posicion = posicion +1
    
print('Segundo item de lista: ', ejemplo_lista[1])

Pedro
Ang칠lica
M칩nica
Segundo item de lista:  Ang칠lica

### M치s sobre strings en Python:

* En Python 3 los strings se basan en Unicode. A principios de la computaci칩n los caracteres de un string estaban limitados a uno de 256 valores. Esto era suficiente para representar caracteres May칰sculas y min칰sculas del lat칤n, as칤 como tambi칠n d칤gitos individuales (0-9). Este lenguaje que reprensenta estos s칤mbolos es llamado ASCII y como puedes ver, era bien compacto. Sin embargo, los s칤mbolos latinos no bastan para representar muchos otros que existen de otras lenguas, o incluso s칤mbolos de otras 치reas del saber, como operadores matem치ticos.

    A ra칤z de esta necesidad es que se crea UTF  (Unicode Transformation Format), el cual es capaz de representar m치s de un mill칩n de distintos caracteres. Este no s칩lo incluye lenguajes humanos, sino que tambi칠n s칤mbolos como emojis 游땙. Python 3 utiliza UTF por defecto, as칤 no tendremos problema al representar grupos de s칤mbolos multinacionales.
    
    Junto a unicode, python utiliza un lenguaje especial para dar formato a la salida de strings. Como vimos anteriormente, con python no necesitamos explicitar el tipo de dato de una variable, sin embargo, esta ventaja tiene costos. Uno de esos costos es que si el interpretador de Python no es capaz de dar formato autom치ticamente a una variable, debemos hacer esta conversi칩n manualmente.

In [2]:
# el interpretador no es capaz de dar formato a la concatenac칩n de un n칰mero (int) (lanza error)
print('Mi edad es : ' + 27)

TypeError: can only concatenate str (not "int") to str

In [26]:
# realizamos la conversi칩n manualmente con la funci칩n str()
print('Mi edad es : ' + str(27))

Mi edad es : 27

In [27]:
# considerando que tendr칤amos que repetir esta funci칩n c칩digos fuente de gran envergadura 
# una mejor forma de manejar estos casos ser칤a con el mini lenguaje de formateo de strings de Python:
producto = {'nombre': 'Notebook Levono r78', 'precio': 450000, 'ubicacion': 'pasillo B'}

descripcion_producto = '{} tiene un precio de {} y est치 ubicado en {}'

# da formato con funci칩n format(). Como puedes ver, el orden de los elementos influir치 en 
# el string resultante
print(descripcion_producto.format(producto['nombre'], producto['precio'], producto['ubicacion']))

# versi칩n compacta con f'strings
print(f"{producto['nombre']} tiene un precio de {producto['precio']} y est치 ubicado en {producto['ubicacion']}")

Notebook Levono r78 tiene un precio de 450000 y est치 ubicado en pasillo B
Notebook Levono r78 tiene un precio de 450000 y est치 ubicado en pasillo B

### Manipulaci칩n de strings

Python nos brinda distintas herramientas para la manipulaci칩n de strings, como:

* slice() : recorre un string en busca de patrones, segmentando/extrayendo seg칰n la especificaci칩n. Esta operaci칩n es muy com칰n, por eso recibe el nombre de: regular expression evaluation (evaluaci칩n de expresiones regulares), muy 칰til para tareas de minado de texto por ejemplo.

### M치s sobre Python y comprens칩n de listas

* Lambdas: es la forma que ofrece Python de crear funciones an칩nimas. Estas funciones son como cualquier otra, pero su diferencia radica en que no llevan/poseen nombre. Esta caracter칤stica permite crear funciones simples de una sola l칤nea sin la necesidad de declarar una funci칩n completa en la forma convencional. En las funciones lambda s칩lo se eval칰a una sola expresi칩n y su valor es retornado una vez es ejecutada. N칩tese tambi칠n que este tipo de funciones no acepta valores por defecto como par치metros y tampoco podemos agregar l칩gica compleja/numerosa dentro de ellas, ya que est치 limitada a s칩lo una expresi칩n.

    쯇or qu칠 utilizar lambdas si su funcionalidad es limitada en comparaci칩n a las funciones est치ndar?
    En nuestro caso, estas funciones resultan muy 칰tiles para tareas de limpieza de datos

In [28]:
mi_lambda = lambda a, b, c : a + b

In [29]:
mi_lambda(1,2,3)

3

#### Secuencias
Estructuras comunes que generalmente creamos con loops o leyendo un archivo, las cuales permiten iterar sobre sus elementos. Python ofrece una sintaxis abreviada para su creaci칩n, llamada Listas por comprensi칩n (List Comprehension).

In [30]:
numeros_pares = []
for numero in range(0, 100):
    if numero % 2 == 0:
        numeros_pares.append(numero)

numeros_pares

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

* Ahora con lista por comprensi칩n, lo que resulta en un c칩digo m치s compacto y generalmente m치s r치pido. No es obligaci칩n que utilices este formato, pero s칤 debes ser capaz de reconocerlo, ya que su uso en ciencia de datos es com칰n.

In [31]:
numeros_pares = [numero for numero in range(0,100) if numero % 2 == 0]
numeros_pares

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

## Numpy

Numpy es un paquete/extensi칩n/librer칤a para Python que es extensamente utilizado por la comunidad de ciencia de datos, la cual nos ayuda a trabajar de forma eficiente con arrays, matrices y vectores.

In [32]:
# 1ero debemos importar la librer칤a (el uso de alias "np" facilita su uso)
import numpy as np

# crea un array a partir de una lista
mi_lista = [1,2,3]
mi_array = np.array(mi_lista)
mi_array

array([1, 2, 3])

In [33]:
# array multidimensional
multi_array = np.array([[7, 8 , 9], [10, 11, 12]])
multi_array

array([[ 7,  8,  9],
       [10, 11, 12]])

In [34]:
# podemos verificar las dimensiones de un array con "shape"
multi_array.shape

(2, 3)

In [35]:
# con la funci칩n arange() podemos crear un array de elementos 
# con un intervalo: arange(inicio, final, intervalo)
array_intervalo = np.arange(0, 20, 2)
array_intervalo

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [36]:
# si queremos realizar transformaciones en un array, podemos utilizar
# la funci칩n reshape() --> reshape(nro_arrays, nro_items)
reshaped_array = array_intervalo.reshape(2, 5)
reshaped_array

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [37]:
# la funci칩n linspace() es similar a arange(), pero se diferencia 
# en que no especificamos el intervalo, sino la cantidad m치xima.
# linspace se encarga de generar los intervalos de forma pareja
# linspace(inicio, cantidad_maxima , final)
lin_array = np.linspace(0, 4, 9)
lin_array

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [38]:
# resize() --> retorna un nuevo array con la(s) forma/dimension(es) especificada(s)
lin_array.resize(3,3)
lin_array

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

Otros ejemplos del uso de Numpy

In [39]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [40]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [41]:
# crea un array de 1's  de dimensiones 2x3
array_unos = np.ones([2, 3], int)
array_unos

array([[1, 1, 1],
       [1, 1, 1]])

In [42]:
# agrega (en cola) nros 2 verticalmente al array de nros 1
np.vstack([array_unos, array_unos *2])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [43]:
# agrega (en cola) nros 2 horizontalmente al array de nros 1
np.hstack([array_unos, array_unos *2])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

#### Operaciones con arrays de Numpy

* Operaciones b치sicas con arrays: adici칩n, sustracci칩n, divisi칩n, multiplicaci칩n, potencias

In [44]:
x = np.array([1, 2, 3])
y = np.array([4, 5 ,6])

x + y

array([5, 7, 9])

In [45]:
x**2

array([1, 4, 9])

In [46]:
x.dot(y)

32

In [47]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [48]:
z.shape

(2, 3)

T -> Transpose: cambia la forma/estructura (shape) del array, intercambiando las columnas por las filas

In [49]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [50]:
z.shape

(2, 3)

dtype: permite saber qu칠 tipo de dato almacena el array

In [51]:
z.dtype

dtype('int64')

astype: castea/transforma el tipo de de dato que almacena el array al especificado por par치metro

In [52]:
# transforma array de int64 a float y asigna el valor a cast_z
cast_z = z.astype('f')
cast_z.dtype

dtype('float32')

#### Funciones matem치ticas comunes utilizadas en Numpy

In [53]:
a = np.array([-4, -2, 1 , 3, 5])

In [54]:
a.sum()

3

In [55]:
a.max()

5

In [56]:
a.min()

-4

In [57]:
a.mean()

0.6

In [58]:
a.std()

3.2619012860600183

Para encontrar el index del valor m칤nimo o m치ximo utilizamos argmin y argmax respetivamente

In [59]:
a.argmin()

0

In [60]:
a.argmax()

4

### Index y Slice

In [61]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

* Similar a las listas podemos acceder al valor de un elemento con su index. Adem치s, utilizando ":" podemos obtener el rango especificado

In [62]:
s[3], s[5], s[:4], s[2:5], s[-4:], s[-5::-2]

(9,
 25,
 array([0, 1, 4, 9]),
 array([ 4,  9, 16]),
 array([ 81, 100, 121, 144]),
 array([64, 36, 16,  4,  0]))

* Ejemplos con arrays bidimensionales

In [63]:
mi_ab = np.arange(36)
mi_ab.resize((6,6))
mi_ab

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [64]:
mi_ab[2, 2]

14

In [65]:
mi_ab[3, 3:6]

array([21, 22, 23])

In [66]:
mi_ab[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

* Tambi칠n podemos utilizar el operador "[ ]" para aplicar condiciones y asignar nuevos valores

In [67]:
mi_ab[mi_ab > 30]

array([31, 32, 33, 34, 35])

In [68]:
mi_ab[mi_ab > 30] = 30
mi_ab

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

### Copiando datos con Numpy

In [69]:
# copia_array ser치 un slice del array mi_ab
nuevo_array = mi_ab[:3, :3]
nuevo_array

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [70]:
# asignamos el valor 0 a todos los elementos del array
nuevo_array[:] = 0
nuevo_array

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [71]:
# tener presente que la anterior asignaci칩n tambi칠n cambia los valores del array original
mi_ab

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

* Para evitar errores de este tipo, una soluci칩n es utilizar copias del array original y as칤 no cambiar sus valores originales

In [72]:
copia_array = mi_ab.copy()
copia_array

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

* As칤, si cambiamos alguno de los valores de cualquier elemento del array, 칠ste s칩lo afectar치 a la copia

In [73]:
copia_array[:] = 10
print(copia_array)
print('-'*20)
print(mi_ab)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]
--------------------
[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

#### Iterando arrays

In [74]:
# crea array de dimensiones 4x3, cuyos elementos ser치n nros aleatorios desde 0 a 9
array_ej = np.random.randint(0, 10, (3,3))
array_ej

array([[9, 3, 3],
       [9, 3, 0],
       [1, 8, 3]])

In [75]:
# ejemplo con for
for fila in array_ej: 
    print(fila)

[9 3 3]
[9 3 0]
[1 8 3]

In [76]:
# utilizando index
for i in range(len(array_ej)):
    print(array_ej[i])

[9 3 3]
[9 3 0]
[1 8 3]

In [77]:
# Combinando ambos
for i, fila in enumerate(array_ej):
    print('fila', i, '-->', fila)

fila 0 --> [9 3 3]
fila 1 --> [9 3 0]
fila 2 --> [1 8 3]

In [78]:
array_ej2 = array_ej**2
array_ej2

array([[81,  9,  9],
       [81,  9,  0],
       [ 1, 64,  9]])

* Iterando sobre dos arrays con zip()

In [79]:
for i, j in zip(array_ej, array_ej2):
    print(i, '+', j, '=', i + j)

[9 3 3] + [81  9  9] = [90 12 12]
[9 3 0] + [81  9  0] = [90 12  0]
[1 8 3] + [ 1 64  9] = [ 2 72 12]

## Conjunto de Herramientas de Pandas

#### Manipulaci칩n, limpieza y queries de datos con Pandas

* Creada en 2008 por Wes McKinney
* Licencia de C칩digo abierto
* Comunidad de m치s de 100 contribuidores

Recursos:
- dudas generales: stackoverflow
- libros:
    Python for Data Analysis (Wes McKinney)
    Learning the Pandas library (Mat Harrison)
    Planet Python: http://planetpython.org
    Data skeptic podcast

### Estructuras de datos de Pandas

#### Series

* Series es una de las estructuras fundamentales en pandas. Una manera simple de entenderlas es defini칠ndola como un entrecruzamiento entre una lista y un diccionario. Sus elementos son almacenados en orden y cada uno posee una etiqueta, con la cual podemos acceder a su valor. Tener presente que la columna de valores posee una etiqueta propia y puede ser obtenida a trav칠s del atributo "name".

In [80]:
import pandas as pd
#pd.Series??

* Una forma de visualizar las series es imagin치ndola como dos columas de datos: una corresponde al index y la otra a sus valores.

* Podemos crear series pasando una lista de valores. Cuando creamos series de esta forma, pandas autom치ticamente asigna un index (columna 1), y setea el nombre/etiqueta (columna 2) con el valor None

In [81]:

animales = ['Tigre', 'Oso', 'Alce']
pd.Series(animales)

0    Tigre
1      Oso
2     Alce
dtype: object

In [82]:
numeros = [1, 2, 3]
pd.Series(numeros)

0    1
1    2
2    3
dtype: int64

Al crear series, lo que hace pandas por debajo es almacenar los valores de la serie en un array con un tipo de dato espec칤fico con la ayuda de la librer칤a NumPy. Esto, con el motivo de ganar rendimiento.

### Manejo de ausencia de datos

En Python, representamos la ausencia de datos con None. Si creamos una serie a partir de una lista de n칰meros que contenga el tipo de dato None, pandas autom치ticamente la representar치 como un NaN (not a number). NaN es el tipo de dato utilizado para representar la ausencia de datos.

In [83]:
numeros = [1, 2, None]
pd.Series(numeros)

0    1.0
1    2.0
2    NaN
dtype: float64

쮺u치l es la diferencia con None entonces?

A pesar de su similitud, como se se침al칩, None es la forma interna/propia de Python de representar la ausencia de valor, representado con un tipo de dato Object (equivalente a null de otros lenguajes). NaN, por su parte, es un est치ndar que representa la ausencia de un n칰mero como tipo de dato float.

In [84]:
import numpy as np

In [85]:
type(np.nan)

float

In [86]:
type(None)

NoneType

Se desprende entonces que nan no es None

In [87]:
np.nan == None

False

nan ni siquiera es igual a nan. Esto, debido a que nan, al ser un est치ndar, genera cada vez un nuevo "error" diciendo que carece de valor. 

Imaginemos por ejemplo que quisieramos representar a todas las personas que no conocemos etiquet치ndolas de "No la conozco" (NoC). As칤, cada vez que nos topemos con alguien que no conocemos, dir칤amos "No la conozco" (NoC), sin embargo, a pesar de intentar generalizar a todas las personas que no conocemos, cada una de ellas es distinta a la otra, con caracter칤sticas propias (rut, nombre, estatura, etc). En definitiva, para solucionar el problema anterior, debemos generar un nuevo tipo de error cada vez que nos topemos con alguien que no conocemos, y pese a que decimos "No la conozco" (NoC) o nan (en el caso de numpy), el error que genera es 칰nico.

In [88]:
np.nan == np.nan

False

Para chequear tipos de datos nan, podemos utilizar por ejemplo la funci칩n isnan() de numpy

In [89]:
np.isnan(np.nan)

True

Es posible generar series a partir de diccionarios. En este caso, el index es autom치ticamente asignado a las claves/etiquetas del diccionario, permitiendo as칤 acceder a ellas con el atributo index.

In [90]:
comidas_tipicas = {'Chile': 'Cazuela',
          'Per칰': 'Cebiche',
          'Hait칤': 'Ponche bucanero',
          'Costa Rica': 'Casado'}
ct = pd.Series(comidas_tipicas)
ct

Chile                 Cazuela
Per칰                  Cebiche
Hait칤         Ponche bucanero
Costa Rica             Casado
dtype: object

In [91]:
ct.index

Index(['Chile', 'Per칰', 'Hait칤', 'Costa Rica'], dtype='object')

Tambi칠n es posible separar la creaci칩n del index y sus valores, pasando expl칤citamente los valores del index como una lista.

In [92]:
ct = pd.Series(['Cazuela', 'Cebiche', 'Ponche bucanero', 'Casado'], index=['Chile', 'Per칰', 'Hait칤', 'Costa Rica'])
ct

Chile                 Cazuela
Per칰                  Cebiche
Hait칤         Ponche bucanero
Costa Rica             Casado
dtype: object

쯈u칠 sucede si los valores del index no coinciden con las claves/etiquetas del diccionario al crear una serie?

Pandas autom치ticamente favorecer치 la creaci칩n de los valores del index que pasamos como par치metro. Esto quiere decir que ignorar치 las claves/etiquetas del diccionario que no se encuentren en la lista de 칤ndices/index y agregar치 valores de tipo None o Nan, para los valores de los 칤ndices que damos.

In [93]:
comidas_tipicas = {'Chile': 'Cazuela',
          'Per칰': 'Cebiche',
          'Hait칤': 'Ponche bucanero',
          'Costa Rica': 'Casado'}
ct = pd.Series(comidas_tipicas, index=['Per칰', 'Hait칤', 'Argentina'])
ct

Per칰                 Cebiche
Hait칤        Ponche bucanero
Argentina                NaN
dtype: object

### Queries en series de Pandas

Es posible realizar queries en las series de Pandas, ya sea mediante la **posici칩n de su 칤ndice**, o la **etiqueta del 칤ndice**. Recuerda que si no especificamos un 칤ndice a la serie, la posici칩n y la etiqueta tendr치n el mismo valor.
    
Para realizar queries mediante su localizaci칩n num칠rica (que comienza en 0), utilizamos el **atributo** "_iloc_". Cuando deseamos que la query sea mediante la etiqueta del 칤ndice, lo haremos con el atributo "_loc_"

In [94]:
comidas_tipicas = {'Chile': 'Cazuela',
          'Per칰': 'Cebiche',
          'Hait칤': 'Ponche bucanero',
          'Costa Rica': 'Casado'}
ct = pd.Series(comidas_tipicas)
ct

Chile                 Cazuela
Per칰                  Cebiche
Hait칤         Ponche bucanero
Costa Rica             Casado
dtype: object

En este caso, si queremos Obtener la 3era comida t칤pica de la serie utilizamos "_iloc_"

In [95]:
ct.iloc[2]

'Ponche bucanero'

En cambio, si queremos saber la comida t칤pica pasando el index/칤ndice como etiqueta, usamos "_loc_"

In [96]:
ct.loc['Hait칤']

'Ponche bucanero'

Uno de los prop칩sitos de Pandas es hacer el c칩digo m치s legible, para esto provee de una _sintaxis inteligente_, lo que hace posible utilizar el 칤ndice como operador directamente en una serie.

In [97]:
# si pasamos un entero como 칤ndice, interpretar치 que realizamos la query medieante "iloc"
ct[3]

'Casado'

In [98]:
# cuando el 칤ndice es una etiqueta, interpretar치 la query como si fuera "loc"
ct['Chile']

'Cazuela'

쯈u칠 pasa si el index es una lista de enteros?

En este caso Pandas no puede determinar autom치ticamente si la intenci칩n es realizar la query mediante la posici칩n del 칤ndice o la etiqueta del 칤ndice. Por esto, se debe tener cuidado en el uso de los 칤ndices directamente en una serie, y probablemente sea m치s seguro utilizar expl칤citamente los atributos _iloc_ y _loc_.

In [99]:
# imaginemos una serie de estaturas (metros)
estaturas = {1.78: 'Carlos',
          1.65: 'Juanita',
          1.80: 'Pedro',
          1.73: 'Laura'}

serie_estaturas = pd.Series(estaturas)
serie_estaturas

1.78     Carlos
1.65    Juanita
1.80      Pedro
1.73      Laura
dtype: object

In [100]:
# produce un error debido a que no existe el 칤ndice 0
serie_estaturas[0]

KeyError: 0.0

In [ ]:
# por ello, la recomendaci칩n es la utilizaci칩n de iloc o loc

In [ ]:
serie_estaturas.iloc[0]

### Trabajando con series de Pandas

Una de las tareas comunes que se realizan en las series de pandas es considerar todos los valores dentro de una serie y realizar operaciones en ellos, como: encontrar un valor espec칤fico, resumir datos, transformar datos, entre otros. Para ello, una operaci칩n t칤pica ser칤a iterar sobre los elementos de la serie  y aplicar la operaci칩n necesaria.

In [ ]:
# Ejemplo: sumar todas las estaturas de una serie
serie_estaturas = pd.Series([1.78, 1.65, 1.80, 1.73])

total_estaturas = 0
for e in serie_estaturas:
    total_estaturas += e
print(total_estaturas)

El anterior ejemplo funciona, pero es lento, sobretodo si los datos poseen un tama침o considerable. Hoy en d칤a, los computadores son capaces de realizar numerosas tareas al mismo tiempo (en paralelo). Pandas y NumPy ofrecen un m칠todo eficiente para lidiar con estos casos: _vectorizaci칩n_ (vectorization).

La _vectorizaci칩n_ es utilizada en muchas funciones de NumPy, como por ejemplo en la funci칩n _sum_.

In [ ]:
# Ejemplo utilizando funci칩n de NumPy sum
total_estaturas = np.sum(serie_estaturas)
total_estaturas

Como puedes ver, ambos ejemplos retornan el mismo valor, pero 쯖칩mo sabemos realmente si uno es m치s eficiente que otro?

### Funciones m치gicas

Jupyter notebooks ofrece distintas funcionalidades _m치gicas_, las cuales pueden ayudarnos en muchas de las tareas diarias e incluso puedes crear las tuyas propias.

In [ ]:
# crea una serie de 10000 n칰meros aleatorios
serie_nros = pd.Series(np.random.randint(0, 1000, 10000))
print(serie_nros.head()) #obtiene los primeros 5 elementos de la serie
len(serie_nros)

* Ejemplo de funci칩n m치gica para medir el tiempo promedio de ejecuci칩n. N칩tese que esta funci칩n m치gica posee una sintaxis propia "%%" para su utilizaci칩n. Tambi칠n es posible parametrizar la cantidad de iteraciones, en este caso 100 (por defecto son 1000)

1er m칠todo (sin vectorizaci칩n)

In [ ]:
%%timeit -n 100 
total_nros = 0
for e in serie_nros:
    total_nros += e

2do m칠todo (con vectorizaci칩n)

In [ ]:
%%timeit -n 100
total_nros = np.sum(serie_nros)

Como puedes verificar, la vectorizaci칩n supera notoriamente a la forma cl치sica de iterar, siendo una herramienta esencial en distintas operaciones con grandes cantidades de datos.

### Broadcasting

Pandas y NumPy poseen otra caracter칤stica similar llamada _Broadcasting_, donde tambi칠n podemos realizar operaciones a cada valor de la serie.

In [ ]:
serie_nros.head()

Si quisi칠ramos sumar 2 de la forma tradicional (procedural) a cada valor/n칰mero de la serie:

In [142]:
for etiqueta, valor in serie_nros.iteritems():
    serie_nros.at[etiqueta] = valor +2 
serie_nros.head()

NameError: name 'serie_nros' is not defined

Ahora utilizando las caracter칤sticas de pandas. Como puedes observar, pandas utiliza formas concisas para iterar y desempaquetar datos de series, ya sean diccionarios u listas.

In [ ]:
serie_nros += 2
serie_nros.head()

Pandas es capaz tambi칠n de trabajar con distintos tipos de datos en una serie.

In [102]:
serie_mixta = pd.Series([1,2,3])
serie_mixta.loc['Animal'] = 'Oso Polar'
serie_mixta

0                 1
1                 2
2                 3
Animal    Oso Polar
dtype: object

Ejemplo en el cual los valores del 칤ndice no son 칰nicos, esto provoca que los [data frames](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) sean diferentes, distintos quiz치 a los datos alojados en una base de datos relacional.

In [109]:
serie_original = {'Cazuela': 'Chile',
          'Cebiche': 'Per칰',
          'Ponche bucanero': 'Hait칤',
          'Casado': 'Costa Rica'}
ct = pd.Series(serie_original)
ct

Cazuela                 Chile
Cebiche                  Per칰
Ponche bucanero         Hait칤
Casado             Costa Rica
dtype: object

Con _append_ es posible combinar series, ten presente que pandas har치 lo posible para inferir los tipos de datos id칩neos y que no reemplazar치 los valores de la serie original, sino que crear치 y retornar치 una nueva. Otras funciones similares poseen el mismo comportamiento, por ello debes tenerlo presente al utilizarlas.

In [111]:
empanadas = pd.Series(['M칠xico', 'Chile', 'Argentina'], index =['Empanada', 'Empanada', 'Empanada'])
nueva_serie = ct.append(empanadas)
nueva_serie

Cazuela                 Chile
Cebiche                  Per칰
Ponche bucanero         Hait칤
Casado             Costa Rica
Empanada               M칠xico
Empanada                Chile
Empanada            Argentina
dtype: object

In [119]:
# las series originales no cambian
print(ct)
print('-'*10)
print(empanadas)

Cazuela                 Chile
Cebiche                  Per칰
Ponche bucanero         Hait칤
Casado             Costa Rica
dtype: object
----------
Empanada       M칠xico
Empanada        Chile
Empanada    Argentina
dtype: object

### Pandas Data Frames

Podr칤a decirse que los data frames es una de las estructuras de datos principales de Pandas. Conceptualmente es una estructura bidimensional de datos que puede incluir m칰ltiples columnas, lo que hace la hace id칩nea para casos de limpieza y agregaci칩n de datos. Cada fila de las posibles columnas posee un index (similar a las series), y cada columna se identifica por su etiqueta, pudiendo definir un data frame como un array de dos ejes con etiquetas. En definitiva, por definifici칩n se asemeja mucho a una tabla, lo que permite una mayor interacci칩n con bases de datos relacionales.

Tenemos numerosas opciones para crear data frames, por ejemplo: podr칤amos crear un data frame a partir de m칰ltiples series, donde cada una representa una fila. O podr칤amos crearlo a partir de un grupo de diccionarios, donde cada diccionario tambi칠n sea una fila de datos.

In [2]:
import pandas as pd

In [61]:
compra_1 = pd.Series({'Nombre cliente': 'Maria Martina', 'Producto': 'Nintendo DS', 'Valor': 158900})
compra_2 = pd.Series({'Nombre cliente': 'Pedro Pablo', 'Producto': 'Secador de pelo', 'Valor': 26800})
compra_3 = pd.Series({'Nombre cliente': 'Luis Leonardo', 'Producto':'Pendrive usb', 'Valor': 20000})

data_frame = pd.DataFrame([compra_1, compra_2, compra_3], index = ['Tienda 1', 'Tienda 2', 'Tienda 1'])
data_frame.head()

         Nombre cliente         Producto   Valor
Tienda 1  Maria Martina      Nintendo DS  158900
Tienda 2    Pedro Pablo  Secador de pelo   26800
Tienda 1  Luis Leonardo     Pendrive usb   20000

Tal como en las series, podemos extraer datos con los atributos _loc_ y _iloc_. Como los data frames son bidimensionales, al pasar s칩lo un valor a _loc_, el operador del 칤ndice retornar치 una serie si s칩lo hay una fila en el data frame.

In [132]:
data_frame.loc['Tienda 2']

Nombre cliente        Pedro Pablo
Producto          Secador de pelo
Valor                       26800
Name: Tienda 2, dtype: object

N칩tese que en el ejemplo anterior el nombre de la serie es retornado como el valor del 칤ndice y los nombres de las columnas son incluidos en el retorno/salida.

Podemos chequear el tipo de dato del retorno que hace pandas con _type()_

In [134]:
type(data_frame.loc['Tienda 2'])

pandas.core.series.Series

Es importante recordar que los 칤ndices y nombres de columnas (en conjunto a sus ejes: horizontal/x, vertical/y), pueden no ser 칰nicos. En estos casos, pandas retornar치 un data frame y no una serie como en el caso anterior, el cual s칩lo retorna una fila/serie.

In [139]:
data_frame.loc['Tienda 1']

         Nombre cliente      Producto   Valor
Tienda 1  Maria Martina   Nintendo DS  158900
Tienda 1  Luis Leonardo  Pendrive usb   20000

In [141]:
type(data_frame.loc['Tienda 1'])

pandas.core.frame.DataFrame

Una de las grandiosas caracter칤sticas de los data frames de pandas es que puedes seleccionar/consultar datos r치pida y eficientemente en m칰ltiples ejes.

Por ejemplo, si quisi칠ramos s칩lo seleccionar el valor de los productos de la Tienda 1:

In [144]:
data_frame.loc['Tienda 1', 'Valor']

Tienda 1    158900
Tienda 1     20000
Name: Valor, dtype: int64

쯏 si quisi칠ramos toda la columna de valores del data frame? Aqu칤 se requiere un poco m치s de trabajo,맗ero nada que pandas no pueda manejar.

Pasos:
1) Transpose (T): intercambia posici칩n de  columnas y filas, transformando las columnas en 칤ndices. 
2) Utilizamos _loc_ para la extracci칩n de datos.

In [146]:
data_frame.T.loc['Valor']

Tienda 1    158900
Tienda 2     26800
Tienda 1     20000
Name: Valor, dtype: object

La anterior soluci칩n funciona, pero los desarrolladores de pandas ofrecen una mejor alternativa para este tipo de casos accediendo directamente al index de un data frame y seleccionar una columna. En pandas las columnas siempre tienen un nombre/etiqueta, por la cual podemos acceder a sus valores.

In [5]:
data_frame.loc['Tienda 1']['Valor']

Tienda 1    158900
Tienda 1     20000
Name: Valor, dtype: int64

La anterior aproximaci칩n se denomina generalmente "chaining", acci칩n por la cual agregamos operadores para interactuar con los datos. Si bien resulta 칰til, ten presente que pandas retorna una copia del data frame y no una vista, lo que podr칤a generar errores. La recomendaci칩n es evitar el encadenamiento de operadores ya que puede derivar en comportamientos y datos impredecibles.

Otro m칠todo para acceder a los datos del data frame es _slice_. Tal como vimos, el atributo loc nos permite seleccionar filas y puede recibir 2 par치metros: el index de la fila y una lista con los nombres/etiquetas de las columnas. Si quisi칠ramos por ejemplo seleccionar todas las filas de las columnas _Producto_ y _Valor_ har칤amos un slicing/tajada al data frame:

In [13]:
data_frame.loc[:, ['Producto', 'Valor']]

                 Producto   Valor
Tienda 1      Nintendo DS  158900
Tienda 2  Secador de pelo   26800
Tienda 1     Pendrive usb   20000

#### Resumen pandas data frames

Detr치s de todo lo visto acerca de data frames existe un concepto b치sico: dos ejes (filas, columnas) que contienen arrays etiquetados de datos. Pandas nos ofrece distintas herramientas para la manipulaci칩n de esta estructura y los datos que almacena. 

El objetivo es entonces, no s칩lo saber utilizar estas herramientas, sino tambi칠n entender cu치ndo y por qu칠 hacen sentido dependiendo del problema que queremos resolver.

### Eliminaci칩n de datos en un Data Frame

Con la funci칩n drop() es posible eliminar datos pasando como 칰nico par치metro el index su etiqueta. Tener presente que esta funci칩n tampoco modifica el data frame, sino que retorna una copia del mismo aplicando la acci칩n correspondiente.

In [15]:
data_frame.drop('Tienda 2')

         Nombre cliente      Producto   Valor
Tienda 1  Maria Martina   Nintendo DS  158900
Tienda 1  Luis Leonardo  Pendrive usb   20000

In [18]:
# data frame permanece intacto
data_frame

         Nombre cliente         Producto   Valor
Tienda 1  Maria Martina      Nintendo DS  158900
Tienda 2    Pedro Pablo  Secador de pelo   26800
Tienda 1  Luis Leonardo     Pendrive usb   20000

Un patr칩n de uso t칤pico y recomendado en pandas es la manipulaci칩n de datos mediante copias. As칤, los datos originales no son afectados, reduciendo posibles inconsistencias y errores.

In [20]:
df_copia = data_frame.copy()
df_copia = df_copia.drop('Tienda 2')
df_copia

         Nombre cliente      Producto   Valor
Tienda 1  Maria Martina   Nintendo DS  158900
Tienda 1  Luis Leonardo  Pendrive usb   20000

La funci칩n drop() posee dos par치metros opcionales. El primero se llama inplace, el cual es un boolean que sirve para indicar si queremos que pandas retorne una copia del data frame o directamente lo afecte/modifique. En otras palabras, si el par치metro inplace posee valor _true_, entonces pandas modificar치 directamente el data frame sin retornar una copia. El segundo par치metro corresponde al eje/axis a eliminar, por defecto 칠ste posee valor 0, indicando el eje de las filas. Si lo cambiamos a 1, el eje corresponder치 al de las columnas y podremos eliminarlas a voluntad.

Otra forma de eliminar columnas es utilizando el operador del 칤ndice y la palabra reservada _del_. Esta forma de eliminaci칩n es directa en el data frame y no retorna una copia.

In [29]:
del df_copia['Producto']
df_copia

KeyError: 'Producto'

### Agregando datos a un data frame

A침adir columnas a un data frame es tan f치cil como asignarle nuevos valores

In [31]:
data_frame['Ubicaci칩n'] = None
data_frame

         Nombre cliente         Producto   Valor Ubicaci칩n
Tienda 1  Maria Martina      Nintendo DS  158900      None
Tienda 2    Pedro Pablo  Secador de pelo   26800      None
Tienda 1  Luis Leonardo     Pendrive usb   20000      None

### Indexando y cargando Data Frames

Un flujo de trabajo com칰n en pandas es:
1) leer datos de entrada 
2) cargarlos en un data frame
3) Reducir el data frame a las columnas y filas necesarias 

Pandas permite visualizar los data frames lo que resulta mucho m치s conveniente que copiar los datos. Es necesario volver a reiterar que trabajar de esta forma requiere de un especial cuidado, ya que como se dijo, cualquier modificaci칩n al data frame puede causar inconsistencias y/o errores.

In [62]:
# crea Serie a partir de data frame
valores = data_frame['Valor']
valores

Tienda 1    158900
Tienda 2     26800
Tienda 1     20000
Name: Valor, dtype: int64

In [63]:
# Ahora podemos interactuar con la serie mediante la t칠cnica de broadcasting
# Calculamos por ejemplo el valor sin IVA de los productos
valores *= .81
valores

Tienda 1    128709.0
Tienda 2     21708.0
Tienda 1     16200.0
Name: Valor, dtype: float64

In [65]:
# Modificando la serie del data frame, provoca un cambio en el mismo 
data_frame

         Nombre cliente         Producto     Valor
Tienda 1  Maria Martina      Nintendo DS  128709.0
Tienda 2    Pedro Pablo  Secador de pelo   21708.0
Tienda 1  Luis Leonardo     Pendrive usb   16200.0

La recomendaci칩n es entonces a manipular los datos utilizando copias mediante la funci칩n copy() de pandas.

### Carga de datos

Pandas ofrece diversas herramientas para la importaci칩n de datos y soporta distintos formatos como: base de datos relacionales, Excel, tablas html, entre otros.

Otra caracter칤stica de jupyter notebooks es la capacidad de interactuar con el sistema operativo que lo aloja. Esto permite por ejemplo, leer archivos locales, ejecutar comandos de sistema, entre otros.

In [3]:
# datos extraidos de wikipedia: tabla de olimpiadas de todos los tiempos 
# n칩tese que la reprensentaci칩n de medallas se realiza con un string: n칰mero seguido de signo de exclamaci칩n (01 !)
import pandas as pd
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
, Summer,01 !,02 !,03 !,Total, Winter,01 !,02 !,03 !,Total, Games,01 !,02 !,03 !,Combined total
Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia(AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria(AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan(AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas(BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain(BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados(BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus(BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium(BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda(BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia(BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana(BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil(BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies(BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria(BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi(BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon(CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada(CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile(CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China(CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia(COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica(CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast(CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia(CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba(CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus(CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic(CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia(TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark(DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti(DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic(DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador(ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt(EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea(ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia(EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia(ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland(FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France(FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon(GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia(GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany(GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany(EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany(GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany(FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana(GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain(GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece(GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada(GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala(GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana(GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti(HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong(HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary(HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland(ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India(IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia(INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran(IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq(IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland(IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel(ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy(ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica(JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan(JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan(KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya(KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea(PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea(KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait(KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan(KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia(LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon(LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein(LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania(LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg(LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia(MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia(MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius(MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico(MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova(MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia(MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro(MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco(MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique(MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia(NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands(NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles(AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand(NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger(NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria(NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway(NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan(PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama(PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay(PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru(PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines(PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland(POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal(POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico(PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar(QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania(ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia(RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire(RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union(URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team(EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia(KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal(SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia(SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro(SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore(SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia(SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia(SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa(RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain(ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka(SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan(SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname(SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden(SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland(SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria(SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei(TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan(TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania(TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand(THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo(TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga(TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago(TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia(TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey(TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda(UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine(UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates(UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States(USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay(URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan(UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela(VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam(VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands(ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia(YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants(IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia(ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe(ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team(ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

Como se puede observar, el output del comando cat nos muestra una serie de datos acerca de resultados en las olimpiadas con las columnas separadas por comas (csv: comma separated values). (Los s칤mbolos extra침os de algunas columnas equivale a N췈)

In [26]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,Summer,01 !,02 !,03 !,Total,Winter,01 !,02 !,03 !,Total,Games,01 !,02 !,03 !,Combined total
1,Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

El m칠todo read_csv() posee distintos par치metros que sirven para indicar a pandas c칩mo deben ser etiquetadas las columnas y filas.

In [27]:
#  importamos nuevamente el archivo, pero ahora indicando un index y saltando la primera
# fila ya que no es relevante
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,Summer,01 !,02 !,03 !,Total,Winter,01 !.1,02 !.1,03 !.1,Total.1,Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

N칩tese que existe duplicaci칩n de columnas y valores, adem치s de que algunas etiquetas/nombres de columnas son ambiguas. Adheriendonos a las buenas pr치cticas realizaremos una tarea com칰n en la ciencia de datos que es la limpieza de datos.

In [28]:
# lista columnas del data frame
df.columns

Index([' Summer', '01 !', '02 !', '03 !', 'Total', ' Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', ' Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

Para reemplazar por ejemplo las columnas que representan las medallas, una alternativa es recorrer las columnas del data frame y reenombrarlas con el atributo _rename_

In [29]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col: 'Gold' + col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col: 'Silver' + col[4:]}, inplace=True)
    if col[:2] == '03':
        df.rename(columns={col: 'Bronze' + col[4:]}, inplace=True)
    if col[:1] == '':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 
        
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

### Realizando consultas a un data frame

#### Boolean masking

Boolean masking es el motor que da la velocidad y eficiencia a las consultas realizadas por _NumPy_ y _Pandas_. Boolean masking o "enmascaramiento de booleans" es la acci칩n de manipular datos agrupados en colecciones/arrays bas치ndonos en alg칰n criterio. Este criterio es generalmente verdadero o falso (de ah칤 su naturaleza booleana). En la pr치ctica, se recorrer치 entonces una estructura de tipo array, donde cada uno de sus valores booleanos ser치 comparado con el criterio deseado, generando un resultado.

Si queremos por ejemplo saber los pa칤ses que consiguieron medalla de oro en las olimpiadas de verano, har칤amos:

In [15]:
# realiza boolean masking de las filas cuyo valor de la columna 'Gold' sea mayor a 0. 
# retorna True si el resultado es mayor (consigui칩 al menos 1 medalla de oro), False si no (no consigui칩 medalla)
df['Gold'] > 0

KeyError: 'Gold'

 Ahora, si s칩lo queremos que el resultado contega los pa칤ses que consiguieron al menos 1 medalla de oro, podemos crear un nuevo data frame con la ayuda de _where_, 칠ste filtrar치 los resultados bas치ndose en el criterio especificado.

In [28]:
paises_oro = df.where(df['Gold'] > 0)
paises_oro.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan(AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria(ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina(ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia(ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia(ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

Los pa칤ses/filas que no cumplen con el criterio poseen valores NaN (generalmente las herramientas estad칤sticas ignorar치n estos valores).

In [19]:
# data frame original
df['Gold'].count()

147

In [12]:
# data frame de paises con oro (ignora valores NaN)
paises_oro['Gold'].count()

NameError: name 'paises_oro' is not defined

A칰n as칤, para mayor claridad es posible eliminar estos valores con la funci칩n _dropna()_.

In [38]:
paises_oro = paises_oro.dropna()
paises_oro.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria(ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina(ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia(ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia(ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia(AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

Los colaboradores de librer칤as como _pandas_ y _numpy_ son muy proactivos, lo que se traduce en que generalemente cuando deseas realizar una acci칩n, 칠sta posiblemente est칠 incluida en las librer칤as y sea m치s f치cil de implementar (y generalmente m치s eficiente) que tener que realizarla desde 0.

En el caso de where, por ejemplo es posible hacer una forma m치s concisa a칰n. En este caso, el 칤ndice recibe un enmascaramiento booleano como par치metro, en vez de s칩lo una lista de nombres de columnas. N칩tese que los valores NaN son autom치ticamente ignorados.

In [41]:
paises_oro = df[df['Gold'] > 0]
paises_oro.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia(AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

Pero este es s칩lo el comienzo. Como el resultado de una evaluaci칩n de enmascaramiento booleano es otro enmascaramiento booleano, es posible agregar/encadenar distintos criterios como _and_ o _or_ lo que ayuda crear consultas complejas con un lenguaje conciso y simple.

Si queremos por ejemplo saber la cantidad de pa칤ses que ganaron alguna medalla de oro en los juegos de verano o los de invierno.

In [45]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

101

O los pa칤ses que ganaron una medalla en los juegos de inverno, pero nunca en los de verano.

In [2]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

NameError: name 'df' is not defined

### Indexando data frames

Como hemos visto, series y data frames poseen 칤ndices. El 칤ndice en este contexto puede entenderse entonces como la etiqueta de una fila, comenzando desde cero. En el ejemplo de las olimpiadas indexamos el data frame mediante el nombre de cada pa칤s. 

Los 칤ndices pueden tambi칠n inferirse, como cuando creamos una serie sin indicarlos expl칤citamente, en tal caso poseer치n valores num칠ricos. Cuando declaramos los 칤ndices expl칤citamente, como en el ejemplo de creaci칩n de una serie a partir de un diccionario o al cargar un csv indicando el header, los 칤ndices ser치n las etiquetas especificadas.

Otra opci칩n para la configuraci칩n de los 칤ndices es el uso de la funci칩n _set_index()_. Esta, recibe como par치metro una lista de columnas, las cuales pasar치n a ser 칤ndices. Ten presente que esta funci칩n es destructiva, lo que significa que reemplazar치 los 칤ndices previos. Si deseas mantener los 칤ndices, deberas crear manualmente una nueva columna y copiar los valores de sus 칤ndices.

Digamos por ejemplo que no queremos que los pa칤ses sean los 칤ndices ( en el caso del data frame de las olimpiadas) , sino que en cambio,맖rdenaremos los 칤ndices en base a las medallas de oro ganadas por cada pa칤s en las olimpiadas de verano. 

Pasos:
1) Almacenar la informaci칩n del pa칤s en una nueva columna

In [30]:
df['country'] = df.index

2) Utilizamos la funci칩n _set_index()_, para se침alar que el 칤ndice ser치 ahora el nro de medallas de oro ganadas en los juegos de verano.

In [31]:
df = df.set_index('Gold')
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan(AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria(ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina(ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia(ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia(ANZ) [ANZ]

Como puedes observar, cuando creamos un nuevo index/칤ndice a partir de una columna existente pareciera que a침ade una nueva fila al comienzo con valores vac칤os (fila 'Gold'), pero no es lo que parece. Sabemos que no es as칤, primero porque de hecho un espacio en blanco est치 siendo renderizado en el data frame, ya sea de valor NaN o none. Segundo, porque el 칤ndice posee un nombre y jupyter notebooks lo que hace es mostrarlo como resultado.

Para eliminar completamente un 칤ndice podemos hacer uso de la funci칩n _reset_index()_. Esta funci칩n crea una nueva columna con 칤ndices num칠ricos, tal cual lo hace pandas al crear 칤ndices impl칤citos.

In [52]:
df = df.reset_index()
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
1,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
2,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
3,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
4,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

### Indexaci칩n por m칰ltiples niveles

Pandas ofrece la opci칩n de indexar por niveles, similar a las llaves compuestas en bases de datos relacionales. Para crear una 칤ndices de varios niveles simplemente llamamos la funci칩n _set_index()_ d치ndole una lista de columnas, las cuales pasar치n a ser 칤ndices. Pandas recorrer치 la lista en b칰squeda de datos distintivos, formando al mismo tiempo 칤ndices compuestos. Un ejemplo relevante es cuando se trabaja con datos geogr치ficos, los cuales son ordenados por regiones o demograf칤a.

In [53]:
# Datos de censo Estadounidense sobre el nivel de poblaci칩n a nivel de counties  
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

Una metodolog칤a com칰n trabajando con estos tipos de datos es buscar valores 칰nicos en una columna, para ello utilizamos la funci칩n _unique()_ en el data frame, similar al operador _distinct_ de SQL, la cual retornar치 una lista con los valores 칰nicos de la columna.

In [54]:
df['SUMLEV'].unique()

array([40, 50])

In [55]:
# Ejemplo que incluye s칩lo el valor 50 de la columna
df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

Ahora, reduciremos los datos para examinar s칩lo la estimaci칩n de la poblaci칩n total en conjunto con el n칰mero total de nacimientos. 

i) Creamos una lista de las columnas a utilizar  
ii) Asignamos los valores a la variable df

In [56]:
columnas_a_utilizar = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columnas_a_utilizar]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

Como dijimos, este set de datos ordena las estimaciones de poblaci칩n por estado y county. Podemos as칤 cargar los datos y crear un nuevo 칤ndice compuesto por los valores de estado y county. Para esto, creamos una lista con los identificadores de cada columna que queremos indexar y luego llamamos a la funci칩n _set_index()_ pasando como par치metro la lista anteriormente construida.

In [57]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

Como se puede observar tenemos ahora un 칤ndice compuesto, formado por el nombre del estado y el nombre del county.

쮺칩mo realizamos consultas a data frames con 칤ndices m칰ltiples?

Para ello, utilizamos el ya conocido atributo _loc_ pasando los par치metros/argumentos en orden, seg칰n el nivel que queramos consultar. Dentro de los 칤ndices m칰ltiples, cada columna representa un nivel, siendo la 칰ltima columna nivel cero.

Por ejemplo, si quisi칠ramos el nro de poblaci칩n del county 'Washtenaw', debemos pasar como 1er argumento/par치metro el estado, que en este caso corresponder칤a a 'Michigan'.

In [63]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

Podemos tambi칠n comparar 2 counties, para ello utilizamos _loc_ pasando como par치metro una lista de tuplas, las cuales describen los 칤ndices que queremos consultar. Debido a que el data frame posee ahora un multi-index de dos valores (estado-county), debemos proveer dos valores para cada elemento a filtrar (de ah칤 el uso de la tupla).

In [64]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

### Valores ausentes

Previamente vimos que Pandas es capaz de manejar la falta de datos como NaN o none. Los sets de datos com칰mente poseen este tipo de valores ausentes, lo que hace a la labor de limpieza de datos parte del proceso en ciencia de datos. Otros m칠todos comunes para el manejo de datos ausente son: _na_values_, _na_filter_, entren otros. 

Tambi칠n debemos considerar los casos en los que valores faltantes representan informaci칩n. Un ejemplo para este tipo de casos es un set de datos provenientes de logs que capturan informaci칩n acerca del playback de videos educativos. Los programas enviar치n estos datos (logs) a un servidor a intervalos de tiempo especificados. Estos "latidos" de datos se ver칤an entonces de esta forma:

In [74]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

La primera columna es un tipo de dato timestamp (tipo de dato UNIX en formato epoch ), seguida del nombre de usuario, la p치gina web en la que se encuentran y el video que est치n visualizando. El playback position registra la posici칩n en la que se encuetran en la reproducci칩n del video, el cual va incrementando a medida avanza el tiempo a excepci칩n del usuario bob. En este caso el usuario tiene el video en pausa ya que la posici칩n no avanza en conjunto con el tiempo. N칩tese que esta informaci칩n no es f치cil de inferir debido a que los valores de la columna de timestamps no est치n en orden.

Puedes notar tambi칠n que existen muchos valores ausentes (NaN) en el data frame, lo que resulta en que no sea muy eficiente enviar estos datos a trav칠s de la red. En este caso en particular, el sistema inserta valores nulos en la base de datos si 칠stos no cambian.

In [75]:
# asigna un nuevo index 'time' y luego reordena sus valores
df = df.set_index('time')
df = df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

En el caso anterior, podemos observar que el index posee valores duplicados (dos o m치s usuarios pueden estar viendo un video al mismo tiempo), para manejar de mejor forma esta situaci칩n haremos un reset del index y usaremos un 칤ndice m칰ltiple.

In [76]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

Una de las funciones que posee Pandas para el manejo de datos ausentes es _fillna_. Esta funci칩n puede recibe diversos par치metros/argumentos para transformar valores ausentes.

In [79]:
df.fillna?

Signature:
df.fillna(
    value=None,
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=None,
    **kwargs,
)
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame).  Values not
    in the dict/Series/DataFrame will not be filled. This value cannot
    be a list.
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use next valid observation to fill gap.
axis : {0 or 'index', 1 or 'columns'}
    Axis along which to fill missing values.
inplace : bool, default False
    If True, fill in-place. Note: this will modify any
    other views on this object (e.g., a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    A dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible).

Returns
-------
DataFrame
    Object with missing values filled.

See Also
--------
interpolate : Fill NaN values using interpolation.
reindex : Conform object to new index.
asfreq : Convert TimeSeries to specified frequency.

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, 5],
...                    [np.nan, 3, np.nan, 4]],
...                   columns=list('ABCD'))
>>> df
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

Replace all NaN elements with 0s.

>>> df.fillna(0)
    A   B   C   D
0   0.0 2.0 0.0 0
1   3.0 4.0 0.0 1
2   0.0 0.0 0.0 5
3   0.0 3.0 0.0 4

We can also propagate non-null values forward or backward.

>>> df.fillna(method='ffill')
    A   B   C   D
0   NaN 2.0 NaN 0
1   3.0 4.0 NaN 1
2   3.0 4.0 NaN 5
3   3.0 3.0 NaN 4

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
>>> df.fillna(value=values)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 2.0 1
2   0.0 1.0 2.0 5
3   0.0 3.0 2.0 4

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 NaN 1
2   NaN 1.0 NaN 5
3   NaN 3.0 NaN 4
File:      /opt/conda/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [80]:
df = df.fillna(method='ffill')
df.head()

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0

Para finalizar, es bueno tener presente que al utilizar funciones estad칤sticas con pandas, los valores/datos ausentes ser치n ignorados por numPy, excluyendolos de los c치lculos.